.product-card {
  display: flex;
  align-items: flex-start;
  margin: 0.5rem 0;
  margin-bottom: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.product-image {
  width: 180px;
  height: 180px;
  object-fit: contain;
  margin-right: 1.5rem;
  margin-left: 2rem;
}

.vertical-divider {
  width: 1px;
  background-color: #ccc;
  margin: 10px 1rem;
  align-self: stretch;
  margin-right: 2rem;
}

.product-info {
  display: flex;
  flex-direction: column;
  padding: 0.5rem
}

.product-brand {
  font-size: 1rem;
  color: #666;
  margin-top: 1rem;
  margin-bottom: 0.1rem;
}

.product-name {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 0.3rem;
}

.product-price {
  font-size: 1.1rem;
  color: #478af6;
  font-weight: 400;
  background-color: #eff6ff;
  border: 0.5px solid #bfdbfe;
  padding: 0.12rem 0.4rem;
  border-radius: 8px;
  display: inline-block;
  margin-top: 0.5rem;
  box-shadow: 0 0 0 1px #b0cde5;
  width: fit-content;
}

/* Link to Product Page */

.product-link {
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
  .product-card {
    display: flex;
    align-items: center;
    max-width: 95vw;
    height: 100px;
    /* ✅ Kompakt */
    margin: 0 auto 1rem auto;
    padding: 0.5rem;
    overflow: hidden;
  }

  .product-image {
    width: 90px;
    height: 90px;
    margin-right: 0.6rem;
    margin-left: 0;
    flex-shrink: 0;
  }

  .product-brand,
  .product-name {
    font-size: 0.70rem;
  }

  .product-price {
    margin-top: 0;
    font-size: 0.75rem;
  }

  .product-brand {
    margin-top: 0.3rem;
  }

  .product-info {
    margin-left: -15px;
  }

  .product-name {
    font-weight: 500;
  }

  .vertical-divider {
    width: 0.5px;
    background-color: #ccc;
    margin-left: -10px;
    align-self: stretch;
  }
}