@media (min-width: 72rem) {
  .shop-container {
    display: flex;
    gap: 2rem;
    max-width: 80rem;
    margin: 0 auto;
  }
}

@media (min-width: 161rem) {
  .shop-container {
    display: flex;
    gap: 2rem;
    max-width: 169rem;
  }
}

/* filter-sidebar */
.filter-sidebar {
  width: 250px;
  align-self: flex-start;
  flex-shrink: 0;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-left: 1rem;
}

.filter-section {
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #ccc;
}

.filter-section:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}


.filter-label {
  font-weight: 500;
  color: #444;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.no-results-message {
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
  color: #666;
  margin-top: 5rem;
}


/* Price */
.price-slider-wrapper {
  width: 100%;
  padding-right: 1rem;
}

input[type="range"] {
  width: 100%;
}

/* Color */
.color-swatch-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.color-swatch {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin: 3px;
}

.color-swatch:hover {
  transform: scale(1.1);
}

.color-swatch.selected {
  box-shadow: 0 0 0 1px white, 0 0 0 2px #000000;
  transform: scale(1.1);
}

/* Type and Brand */
.checkbox-label {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  line-height: 1.2;
  cursor: pointer;
}

.checkbox-label input {
  margin-top: 0.2rem;
  accent-color: black;
}

/* main area: product list */
.product-list-container {
  flex: 1;
  margin-left: 3rem;
  padding: 0 1rem;
  box-sizing: border-box;
  margin: 0
}


/* Search Bar */
.search-bar {
  display: flex;
  height: 2.3rem;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.search-bar input {
  outline: none;
  flex: 1;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  border-radius: 9px;
  border: 1px solid #ddd;
}

.search-bar button {
  padding: 0.4rem 1rem;
  width: 5.5rem;
  cursor: pointer;
  background-color: #3b82f6;
  border: none;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  margin-left: 0.5rem;
}

/* active filters */
.active-filters-container {
  min-height: 3rem;
  /* Reserve space to avoid layout shift */
  margin-bottom: 1rem;
  margin-left: 0.8rem;
}

.active-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.9rem;
  color: #444;
}


.filter-tag {
  background-color: #e0e7ff;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.filter-tag button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #444;
  font-size: 1.1rem;
  line-height: 1;
  padding: 0;
  margin-top: 2px;
}

.clear-all-btn {
  background-color: #f87171;
  border: none;
  color: white;
  padding: 0.25rem 0.6rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.85rem;
}

.product-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 2rem;
  padding-left: 0.8rem;
  margin-bottom: 3rem;
}

.product-list-heading {
  font-size: 1.8rem;
  font-weight: 400;
  color: black;
  margin: 0;
}

.view-toggle-buttons {
  display: flex;
  justify-content: flex-end;
  /* push to the right */
  margin-right: 0rem;
  /* like margin left for product list heading */
}

/* remove default rounded corners for all buttons so they look combined */
.view-toggle-buttons .p-button {
  border-radius: 0;
}

.view-toggle-buttons .p-button:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.view-toggle-buttons .p-button:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* grid view */
.product-grid {
  display: grid;
  /* Automatically fills the row with as many columns as fit
     - Each column is at least 220px wide (minmax)
     - 1fr (= 1 fraction of the available space) means each column takes up equal remaining space */
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.2rem;
  align-items: stretch;
}

@media (min-width: 1200px) and (max-width: 1920px) {
  .product-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Loading Indicator */
.loading-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  margin: 2rem auto;
  font-size: 1rem;
  color: #555;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid #cce0f4;
  border-top: 3px solid #478af6;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Show more Button */
.show-more-container {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.show-more-button {
  padding: 0.75rem 2.5rem;
  border-radius: 999px;
}

/* for mobile view */

.filter-toggle-icon {
  background: none;
  border: none;
  font-size: 1.4rem;
  padding: 0.4rem;
  cursor: pointer;
  color: #3b82f6;
  margin-right: 0.5rem;
}

.filter-toggle-icon:focus {
  outline: 2px solid #3b82f6;
  /* optional accessibility focus ring */
  outline-offset: 2px;
}

/* mobile view */
@media (max-width: 768px) {

  .filter-sidebar {
    width: 250px;
    align-self: flex-start;
    flex-shrink: 0;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-left: 0rem;
  }

  .mobile-divider {
    border: none;
    border-top: 1px solid #ccc;
    margin: 1rem 0;
    margin-bottom: 3rem;
  }


  .filter-toggle-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2.3rem;
    margin-right: 0.8rem;
  }

  .filter-sidebar {
    width: 100%;
    border: none;
    padding: 1rem 1rem;

  }

  .active-filters-container {
    height: 0;
    margin: 0;
    padding: 0;
    margin-left: 0.2rem;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .active-filters-container.has-filters {
    height: auto;
    margin-bottom: 1rem;
    padding-left: 0.8rem;
  }

  .active-filters {
    font-size: 0.75rem;
    gap: 0.3rem;
  }

  .active-filters span:first-child {
    font-weight: 500;
    font-size: 0.75rem;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }

  .filter-tag {
    font-size: 0.75rem;
    padding: 0.15rem 0.4rem;
    border-radius: 3px;
    gap: 0.2rem;
  }

  .filter-tag button {
    font-size: 0.9rem;
    margin-top: 0.15rem;
    line-height: 1;
  }

  .clear-all-btn {
    font-size: 0.75rem;
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
  }

  .mobile-hidden {
    display: none !important;
  }

  .shop-container {
    flex-direction: column;
    padding: 1rem;
    margin-top: 0;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 1.2rem;
    align-items: stretch;
  }

  .search-bar {
    height: auto;
    gap: 0.4rem;
    margin-bottom: 1.7rem;
  }

  .search-bar input {
    padding: 0.2rem 0.6rem;
    font-size: 0.8rem;
    height: 34px;
    border-radius: 6px;
  }

  .search-bar button {
    padding: 0.2rem 0.8rem;
    height: 34px;
    font-size: 0.8rem;
    width: auto;
    border-radius: 6px;
  }

  .product-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 2rem;
    padding-left: 0.4rem;
    margin-bottom: 1.5rem;
  }

  .product-list-heading {
    font-size: 1.3rem;
    font-weight: 400;
    color: black;
    margin: 0;
  }

  .apply-filter-container {
    margin-top: 2rem;
    text-align: center;
  }

  .apply-filter-button {
    padding: 0.6rem 2rem;
    background-color: #3b82f6;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
  }

  .apply-filter-button:hover {
    background-color: #2563eb;
  }
}

@media (min-width: 768px) {
  .shop-container {
    margin-top: 6rem;
  }

  .search-bar {
    margin-bottom: 5rem;
  }
}